<head>
    <meta charset="utf-8">
    <title>Mini Press Core</title>
    <div class="banner">
        <div class="banner-buttons">
            <button>Afficher les catégories</button>
            <button>Afficher les articles</button>
        </div>
        <div class="banner-title">
            <h1>Mini Press Core</h1>
        </div>
    </div>
    <link rel="stylesheet" href="./css/style.css">
</head>



