{% extends "squelette/main.twig" %}

{% block title %}Liste des articles{% endblock %}

{% block content %}
    <div class="container">
        <h1>Liste des articles</h1>

        <ul>
            {% for article in articles %}
                <li>{{ article.titre }} - {{ article.created_at }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
