{% extends "squelette/main.twig" %}

{% block title %}Articles par catégorie{% endblock %}

{% block content %}
    <div class="container">
        <h1>Articles par catégorie</h1>

        <ul class="article-list">
            {% for article in articles %}
                <li class="article-item">
                    <h3 class="article-title">{{ article.titre }}</h3>
                    <p class="article-date">Créé le {{ article.created_at }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
