{% extends "squelette/main.twig" %}

{% block title %}Création d'une catégorie{% endblock %}

{% block content %}
    <div class="container">
        <h1>Création d'une catégorie</h1>

        <form method="POST" action="/categories/create">
            <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" class="form-control" id="titre" name="titre" required>
            </div>
            <div class="form-group">
                <label for="resume">Résumé</label>
                <textarea class="form-control" id="resume" name="resume" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="add-categorie-btn">Créer</button>
            </div>
        </form>
    </div>
{% endblock %}
